<a href="https://colab.research.google.com/github/amimulhasan/python/blob/main/Write_a_Python_program_to_convert_a_tuple_into_a_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Write a Python program to convert a tuple into a list
my_tuple=(1,3,4,5,6,7,8)
my_list=list(my_tuple)
print(my_tuple)
print(my_list)

(1, 3, 4, 5, 6, 7, 8)
[1, 3, 4, 5, 6, 7, 8]